* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #afc8ad;
  padding: 1rem;
}
.heading {
  color: #48634d;
}
.quote__container {
  background-color: #eee7da;
  padding: 1rem;
  border-radius: 10px;
}

.quote__text {
  color: #48634d;
}

.quote__author {
  color: #88ab8e;
  font-weight: bold;
}

.btn__container {
  display: flex;
  gap: 0.625rem;
}
.btn {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 1rem 2rem;
  background-color: #88ab8e;
  color: #eee7da;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 200ms ease-in;
}

.btn:hover {
  background-color: #afc8ad;
  color: #48634d;
}
